
body{
    background-image: url(src/img/wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin : 0;
    padding: 0;
    font-family : 'manrope';
    height: 100vh;
}
header{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
    padding : 2%;
    border-radius: 30%;
    width : 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    flex-grow: 1;
}

#click{
    background-color: rgba(255, 255, 255, 0.75);
    overflow: hidden;
    height: 80vh;
    flex: 1 1 auto;
}
#bag{
    display: block;
    margin-top: 15%;
    margin-left: auto;
    margin-right : auto;
    width: 70%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}
#bag:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}
#bag:active{
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;
}
#store div{
    background-color: rgb(119, 55, 55, 0.75);
    border-style: solid;
    border-color: white;
    height: 10%;
}

#store{
    flex: 1 1 auto;
    max-width: 40%;
}
#meli{
    grid-area: 1 / 1 / 2 / 2;
}
#craft{
    grid-area: 1 / 2 / 2 / 3;
}
#melo{
    grid-area: 2 / 1 / 3 / 2;
}
#item{
    grid-area: 2 / 2 / 3 / 3;
}
#thibou{
    grid-area: 3 / 1 / 4 / 2;
}
#pelle{
    grid-area: 3 / 2 / 4 / 3;
}
#pollux{
    grid-area: 4 / 1 / 5 / 2;
}
#canne{
    grid-area: 4 / 2 / 5 / 3;
}
#djason{
    grid-area: 5 / 1 / 6 / 2;
}
#filet{
    grid-area: 5 / 2 / 6 / 3;
}
#daisy{
    grid-area: 6 / 1 / 7 / 2; 
}
#navet{
    grid-area: 6 / 2 / 7 / 3;
}
#obtenu{
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width : 30%;
    height: 70%;
}
#obtenu div{
    overflow: hidden;
    background-color: rgba(85, 165, 211, 0.75);
    border-style: solid;
    border-color: white;

}
#obtenu img{
    max-height: 100%;
}
.item_obtenu img{
    display:block;
    margin-right: auto;
    margin-left: auto;
    filter: drop-shadow(5px 5px 5px #222);
    max-height: 100%;
}
#store img{
    max-height: 100%;
}

#meli1, #meli2, #meli3, #meli4, #meli5, #meli6, #meli7, #meli8, #meli9, #meli10, #meli11, #meli12{
    visibility: hidden;
}

.lock{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.hidden img{
    visibility: hidden;
}

.hidden p{
    visibility: hidden;
}


.unlock:hover{
    cursor: pointer;
}

.info{
    display: flex;
    flex-direction: row;
    max-height: 100%;
    overflow: inherit;
    justify-content: space-between;
}

.info p {
    font-size: 2.5em;
}

.info p:last-child{
    opacity: 0.5;
}

.piece{
    min-height:200%;
}

#bells{
    font-size : 1.2em;
}

#score{
    text-align: center;
}
